In [1]:
import csv
import pandas as pd
import numpy as np
import importlib
local = "local.xlsx"

In [32]:
city_list = [local]

In [33]:
df = pd.DataFrame()
for i, city in enumerate(city_list):
    if(i==0):
        df = pd.read_excel(io=city,sheet_name="Sheet1")
    else:
        temp = pd.read_excel(io=city,sheet_name="Sheet1")
        df = pd.concat([df,temp])

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144984 entries, 0 to 144983
Data columns (total 12 columns):
Name                   97707 non-null object
Star_Rating            144984 non-null float64
Number_Of_Reviewers    144984 non-null object
Price                  139215 non-null object
Price_Range            139213 non-null object
Category               139215 non-null object
Address                139496 non-null object
Phone                  142362 non-null object
Website                111986 non-null object
OpenHours              144981 non-null object
Business_Info          144552 non-null object
Total_Stars            144984 non-null int64
dtypes: float64(1), int64(1), object(10)
memory usage: 13.3+ MB

In [35]:
t1 = df.drop(['Name','Website','Phone'],axis=1).dropna(axis=0).reset_index(drop=True)
#df = df.dropna(axis=0).reset_index(drop=True)
#df = df.reset_index(drop=True)

In [36]:
t1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134079 entries, 0 to 134078
Data columns (total 9 columns):
Star_Rating            134079 non-null float64
Number_Of_Reviewers    134079 non-null object
Price                  134079 non-null object
Price_Range            134079 non-null object
Category               134079 non-null object
Address                134079 non-null object
OpenHours              134079 non-null object
Business_Info          134079 non-null object
Total_Stars            134079 non-null int64
dtypes: float64(1), int64(1), object(7)
memory usage: 9.2+ MB

In [37]:
#make business info more compact 
def trim(alist):
    for j in range(0,len(alist)-1):
        if(j==len(alist)-2):
            alist[1] = alist[1].strip()
        else:
            del alist[1]
    return alist

In [38]:
#Merge and drop duplicate
droplist = []
this_res = 0
for i in range(0,len(t1)):
    if(i==0 or t1.iloc[i]['Number_Of_Reviewers']!=t1.iloc[i-1]['Number_Of_Reviewers']):
        if(i!=0):
            this_res = i
        attribute = t1.iloc[this_res]['Business_Info']
        t1.at[this_res,'Business_Info'] = trim(attribute.split('\n'))
    else:
        attribute = t1.iloc[i]['Business_Info']
        alist = attribute.split('\n')
        alist = trim(alist)
        t1.at[this_res,'Business_Info'].extend(alist)
        t1.at[this_res,'Total_Stars'] += t1.iloc[i]['Total_Stars']
        droplist.append(i)
t2 = t1.drop(droplist)

In [39]:
#drop attribute Phone
#business_data = business_data.reset_index(drop=True)
t2 = t2.reset_index(drop=True)

In [40]:
t2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7257 entries, 0 to 7256
Data columns (total 9 columns):
Star_Rating            7257 non-null float64
Number_Of_Reviewers    7257 non-null object
Price                  7257 non-null object
Price_Range            7257 non-null object
Category               7257 non-null object
Address                7257 non-null object
OpenHours              7257 non-null object
Business_Info          7257 non-null object
Total_Stars            7257 non-null int64
dtypes: float64(1), int64(1), object(7)
memory usage: 510.3+ KB

In [41]:
def get_open_time_list(ohstr):
    ohlist = []
    days = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun','Edit']
    time = []
    if(ohstr==''):
        ohlist.append(None)
    else:
        for i in range(len(days)-1):
            start = ohstr.find(days[i])
            end = ohstr.find(days[i+1])
            time.append(ohstr[start+3:end])
    return time

In [42]:
def truncate(time):
    first_ = time.find("-")
    second_ = time.rfind("-")
    if(first_!=second_):
        time = time[0:first_] + time[second_:len(time)]
        #print(time)
        return time
    else:
        return time

In [43]:
def find_am_pm(time):
    am = time.find("am")
    ram = time.rfind("am")
    pm = time.find("pm")
    rpm = time.rfind("pm")
    return (am,ram,pm,rpm)

In [44]:
def find_interval(time):
    first_colon = time.find(":")
    second_colon = time.rfind(":")
    second_start = time.find("-") + 1
    return (first_colon,second_colon,second_start)

In [45]:
def get_actual_time(time):
    time = truncate(time)
    am,ram,pm,rpm = find_am_pm(time)
    first_colon,second_colon,second_start = find_interval(time)
    early, late, carry = am, pm, 0
    if(am==ram and am!=-1):
        early, late, carry = am, pm, 12
        if(am>pm):
            early, late = pm, am
    elif(am!=ram):
        early, late = am, ram
    elif(pm!=rpm):
        early, late = pm, rpm
    if(time[0:first_colon].isdigit()==False or time[first_colon+1:early].isdigit()==False):
        return "drop"
    first = int(time[0:first_colon]) * 60 + int(time[first_colon+1:early])
    second = (int(time[second_start:second_colon])+carry) * 60 + int(time[second_colon+1:late])
    period = (second - first) / 60
    opentime = time[0:second_start-1]
    closetime = time[second_start:late+2]
    if(period<0):
        period += 24
    return period,opentime,closetime

In [46]:
def get_open_time_info(time):
    if(time=="Closed"):
        return 0, "Closed", "Closed"
    elif(time=="Open24hours" or time=="Open24hoursOpennow"):
        return 24, "AllDay", "AllDay"
    return get_actual_time(time)

In [119]:
#some data might not have a good form of time period, we choose to drop them here
OPEN_TIME = []
CLOSE_TIME = []
PERIOD = []
droplist = []
for i in range(len(t2)):
    #print(i,end=' ')
    raw_string = t2.iloc[i]['OpenHours']
    trimmed = ''.join(raw_string.split())
    PD, OT, CT = [], [], []
    if(trimmed=="HoursAddbusinesshours"):
        droplist.append(i)
        continue
    else:
        open_time_list = get_open_time_list(trimmed)
        #print(open_time_list)
        for t in open_time_list:
            if(get_open_time_info(t)=="drop"):
                droplist.append(i)
                continue
            ped, ot, ct = get_open_time_info(t)
            PD.append(ped)
            OT.append(ot)
            CT.append(ct)
    OPEN_TIME.append(np.asarray(OT))
    CLOSE_TIME.append(np.asarray(CT))
    PERIOD.append(np.asarray(PD))
all_open_time = np.asarray(OPEN_TIME)
all_close_time = np.asarray(CLOSE_TIME)
all_period = np.asarray(PERIOD)

In [120]:
#print(type(all_period))
print(all_open_time)

[['Closed' '7:00am' '7:00am' ... '7:00am' '8:00am' '8:00am']
 ['9:00am' '9:00am' '9:00am' ... '8:30am' '8:30am' '8:30am']
 ['8:30am' '8:30am' '8:30am' ... '8:30am' '8:30am' '8:30am']
 ...
 ['10:00am' '10:00am' '10:00am' ... '10:00am' '10:00am' '10:00am']
 ['11:00am' '11:00am' '11:00am' ... '11:00am' '11:00am' '12:00pm']
 ['9:00am' '9:00am' '9:00am' ... '10:00am' '10:00am' '10:00am']]

In [118]:
t2 = t2.drop(droplist).reset_index(drop=True)

In [121]:
column_name_BH = ["MonBH","TueBH","WedBH","ThuBH","FriBH","SatBH","SunBH"]
column_name_OT = ["MonOT","TueOT","WedOT","ThuOT","FriOT","SatOT","SunOT"]
column_name_CT = ["MonCT","TueCT","WedCT","ThuCT","FriCT","SatCT","SunCT"]
period_df = pd.DataFrame(data=all_period,columns=column_name_BH)
open_time_df = pd.DataFrame(data=all_open_time,columns=column_name_OT)
close_time_df = pd.DataFrame(data=all_close_time,columns=column_name_CT)

In [122]:
t3 = t2.drop(['OpenHours'],axis=1)
t4 = pd.concat([t3, period_df, open_time_df, close_time_df],axis=1)

In [125]:
# get the address of every data point
vadd = []
for i in range(0,len(t4)):
    raw_address = t4.iloc[i]['Address']
    #if(type(raw_address)==str):   
    vadd.append(raw_address)
    #else:
     #   vadd.append('')

In [126]:
# let google API find the longitude and latitude
import requests
import time
from IPython.display import clear_output
lola = []
droplist = []
for i, address in enumerate(vadd):
    if(address==''):
        lola.append(('',''))
        continue
    request = "https://maps.googleapis.com/maps/api/geocode/json?address="+address+"&key=AIzaSyAkqBM8zOK_Z19OpHisOudP0W31IPzp4cA"
    response = requests.get(request)
    location = response.json()
    if(location['results']==[]):
        droplist.append(i)
        continue
    geo = location['results'][0]['geometry']['location']
    print(i)
    clear_output(wait=True)
    i += 1
    lola.append((geo['lng'],geo['lat']))

6456

In [127]:
print(len(droplist))

5

In [128]:
t5 = t4.drop(droplist).reset_index(drop=True)
t5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6452 entries, 0 to 6451
Data columns (total 29 columns):
Star_Rating            6452 non-null float64
Number_Of_Reviewers    6452 non-null object
Price                  6452 non-null object
Price_Range            6452 non-null object
Category               6452 non-null object
Address                6452 non-null object
Business_Info          6452 non-null object
Total_Stars            6452 non-null int64
MonBH                  6452 non-null float64
TueBH                  6452 non-null float64
WedBH                  6452 non-null float64
ThuBH                  6452 non-null float64
FriBH                  6452 non-null float64
SatBH                  6452 non-null float64
SunBH                  6452 non-null float64
MonOT                  6452 non-null object
TueOT                  6452 non-null object
WedOT                  6452 non-null object
ThuOT                  6452 non-null object
FriOT                  6452 non-null object
SatOT                  6452 non-null object
SunOT                  6452 non-null object
MonCT                  6452 non-null object
TueCT                  6452 non-null object
WedCT                  6452 non-null object
ThuCT                  6452 non-null object
FriCT                  6452 non-null object
SatCT                  6452 non-null object
SunCT                  6452 non-null object
dtypes: float64(8), int64(1), object(20)
memory usage: 1.4+ MB

In [135]:
# append longitude and latitude to the dataframe and drop 
longitude = []
latitude = []
for ll in lola:
    longitude.append(ll[0])
    latitude.append(ll[1])
t6 = t5.assign(Longitude=longitude).assign(Latitude=latitude)
t6 = t6.drop('Address',axis=1)

In [136]:
t6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6452 entries, 0 to 6451
Data columns (total 30 columns):
Star_Rating            6452 non-null float64
Number_Of_Reviewers    6452 non-null object
Price                  6452 non-null object
Price_Range            6452 non-null object
Category               6452 non-null object
Business_Info          6452 non-null object
Total_Stars            6452 non-null int64
MonBH                  6452 non-null float64
TueBH                  6452 non-null float64
WedBH                  6452 non-null float64
ThuBH                  6452 non-null float64
FriBH                  6452 non-null float64
SatBH                  6452 non-null float64
SunBH                  6452 non-null float64
MonOT                  6452 non-null object
TueOT                  6452 non-null object
WedOT                  6452 non-null object
ThuOT                  6452 non-null object
FriOT                  6452 non-null object
SatOT                  6452 non-null object
SunOT                  6452 non-null object
MonCT                  6452 non-null object
TueCT                  6452 non-null object
WedCT                  6452 non-null object
ThuCT                  6452 non-null object
FriCT                  6452 non-null object
SatCT                  6452 non-null object
SunCT                  6452 non-null object
Longitude              6452 non-null float64
Latitude               6452 non-null float64
dtypes: float64(10), int64(1), object(19)
memory usage: 1.5+ MB

In [137]:
droplist = []
for i in range(len(t6)):
    reviewers_num = int(t6.iloc[i]["Number_Of_Reviewers"].split()[0])
    if(reviewers_num < 10):
        droplist.append(i)
        continue
    t6.at[i,"Number_Of_Reviewers"] = reviewers_num
    star = t6.iloc[i]["Total_Stars"]*1.0/reviewers_num
    if(star!=0):
        t6.at[i,"Star_Rating"] = t6.iloc[i]["Total_Stars"]*1.0/reviewers_num
    else:
        droplist.append(i)

In [138]:
print(len(droplist))

358

In [139]:
t7 = t6.drop(droplist).reset_index(drop=True)

In [140]:
t7.head()

,Star_Rating,Number_Of_Reviewers,Price,Price_Range,Category,Business_Info,Total_Stars,MonBH,TueBH,WedBH,...,SunOT,MonCT,TueCT,WedCT,ThuCT,FriCT,SatCT,SunCT,Longitude,Latitude
0,4.173077,364,$,Under $10,"American(Traditional),Breakfast&Brunch,Cocktai...","[Liked by Vegetarians, ...",1519,0.0,8.0,8.0,...,8:00am,Closed,3:00pm,3:00pm,3:00pm,3:00pm,3:00pm,3:00pm,-77.165013,38.885109
1,4.586387,191,$$,$11-30,"Mediterranean,Egyptian","[Has Dairy-free Options, ...",876,12.0,13.0,13.0,...,8:30am,9:00pm,10:00pm,10:00pm,10:00pm,11:00pm,11:00pm,10:00pm,-77.197743,38.875563
2,4.322160,1611,$,Under $10,Tacos,"[Has Soy-free Options, ...",6963,13.5,13.5,13.5,...,8:30am,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,-77.205698,38.902244
3,3.969595,1776,$$,$11-30,Chinese,"[Has Soy-free Options, ...",7050,11.5,11.5,11.5,...,11:00am,10:30pm,10:30pm,10:30pm,10:30pm,11:00pm,11:00pm,10:30pm,-77.139635,38.855266
4,3.826923,104,$$,$11-30,"Coffee&Tea,American(Traditional),WineBars","[Has Dairy-free Options, ...",398,15.0,15.0,15.0,...,7:00am,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,10:00pm,-77.171950,38.884135

In [145]:
t8 = t7.drop(["Category","Total_Stars","Price_Range"],axis=1)
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()
price = lb.fit_transform(t8["Price"])
t8 = pd.concat([t8,pd.DataFrame(price)],axis=1)
t8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6094 entries, 0 to 6093
Data columns (total 28 columns):
Star_Rating            6094 non-null float64
Number_Of_Reviewers    6094 non-null object
Price                  6094 non-null object
Business_Info          6094 non-null object
MonBH                  6094 non-null float64
TueBH                  6094 non-null float64
WedBH                  6094 non-null float64
ThuBH                  6094 non-null float64
FriBH                  6094 non-null float64
SatBH                  6094 non-null float64
SunBH                  6094 non-null float64
MonOT                  6094 non-null object
TueOT                  6094 non-null object
WedOT                  6094 non-null object
ThuOT                  6094 non-null object
FriOT                  6094 non-null object
SatOT                  6094 non-null object
SunOT                  6094 non-null object
MonCT                  6094 non-null object
TueCT                  6094 non-null object
WedCT                  6094 non-null object
ThuCT                  6094 non-null object
FriCT                  6094 non-null object
SatCT                  6094 non-null object
SunCT                  6094 non-null object
Longitude              6094 non-null float64
Latitude               6094 non-null float64
0                      6094 non-null int64
dtypes: float64(10), int64(1), object(17)
memory usage: 1.3+ MB

In [146]:
t9 = t8.drop("Price",axis=1).rename(columns={0:"Price"})
for i in range(len(t9)):
    t9.at[i,"Price"] += 1
t9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6094 entries, 0 to 6093
Data columns (total 27 columns):
Star_Rating            6094 non-null float64
Number_Of_Reviewers    6094 non-null object
Business_Info          6094 non-null object
MonBH                  6094 non-null float64
TueBH                  6094 non-null float64
WedBH                  6094 non-null float64
ThuBH                  6094 non-null float64
FriBH                  6094 non-null float64
SatBH                  6094 non-null float64
SunBH                  6094 non-null float64
MonOT                  6094 non-null object
TueOT                  6094 non-null object
WedOT                  6094 non-null object
ThuOT                  6094 non-null object
FriOT                  6094 non-null object
SatOT                  6094 non-null object
SunOT                  6094 non-null object
MonCT                  6094 non-null object
TueCT                  6094 non-null object
WedCT                  6094 non-null object
ThuCT                  6094 non-null object
FriCT                  6094 non-null object
SatCT                  6094 non-null object
SunCT                  6094 non-null object
Longitude              6094 non-null float64
Latitude               6094 non-null float64
Price                  6094 non-null int64
dtypes: float64(10), int64(1), object(16)
memory usage: 1.3+ MB

In [148]:
# drop 
#bd = business_data.drop(['Number_Of_Reviewers','Price_Range'],axis=1)

# make price, open time and close time one-hot matrix and append it to the dataframe
column_name = []
column_name.extend(column_name_OT)
column_name.extend(column_name_CT)
t10 = pd.concat([t9,pd.get_dummies(t9[column_name])],axis=1)

In [149]:
t11 = t10.drop(column_name,axis=1)
t11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6094 entries, 0 to 6093
Columns: 575 entries, Star_Rating to SunCT_Closed
dtypes: float64(10), int64(1), object(2), uint8(562)
memory usage: 3.9+ MB

In [150]:
t11.head()

,Star_Rating,Number_Of_Reviewers,Business_Info,MonBH,TueBH,WedBH,ThuBH,FriBH,SatBH,SunBH,...,SunCT_8:00pm,SunCT_8:30pm,SunCT_8:45pm,SunCT_9:00am,SunCT_9:00pm,SunCT_9:15pm,SunCT_9:30pm,SunCT_9:45pm,SunCT_AllDay,SunCT_Closed
0,4.173077,364,"[Liked by Vegetarians, ...",0.0,8.0,8.0,8.0,8.0,7.0,7.0,...,0,0,0,0,0,0,0,0,0,0
1,4.586387,191,"[Has Dairy-free Options, ...",12.0,13.0,13.0,13.0,14.5,14.5,13.5,...,0,0,0,0,0,0,0,0,0,0
2,4.322160,1611,"[Has Soy-free Options, ...",13.5,13.5,13.5,13.5,13.5,13.5,13.5,...,0,0,0,0,0,0,0,0,0,0
3,3.969595,1776,"[Has Soy-free Options, ...",11.5,11.5,11.5,11.5,12.0,12.0,11.5,...,0,0,0,0,0,0,0,0,0,0
4,3.826923,104,"[Has Dairy-free Options, ...",15.0,15.0,15.0,15.0,15.0,15.0,15.0,...,0,0,0,0,0,0,0,0,0,0

In [151]:
bd = t11

In [152]:
# change business info to binary matrix, currently exclude non-binary information here
from sortedcontainers import SortedDict
exclude = ["Attire","Noise Level","Alcohol","Good For","Ambience","Parking","Best Nights","Music"]
# all the tag of the business info in a set
all_business_info_tag = set()
for i in range(len(bd)):
    _dict = SortedDict()
    _list = bd.iloc[i]["Business_Info"]
    for j in range(len(_list)):
        if(j%2==0 and _list[j] not in exclude):
            rvalue = _list[j+1].strip()
            if(_list[j]=="Wi-Fi" and rvalue!="No"):
                _dict[_list[j]] = int(1)
            elif(_list[j]=="Smoking" and rvalue!="No"):
                _dict[_list[j]] = int(1)
            elif(rvalue=="Yes"):
                _dict[_list[j]] = int(1)
            else:
                _dict[_list[j]] = int(0)
            all_business_info_tag.add(_list[j])
    bd.at[i,"Business_Info"] = _dict

In [153]:
bd_info_dataframe = pd.DataFrame()
for i in range(len(bd)):
    for tag in all_business_info_tag:
        # all the information not in the set is set to 0 currently
        if(tag not in bd.iloc[i]["Business_Info"]):
            bd.at[i,"Business_Info"][tag] = int(0)
    if(i==0):
        bd_info_dataframe = pd.DataFrame(bd.iloc[i]["Business_Info"],index=[i])
    else:
        bd_info_dataframe = pd.concat([bd_info_dataframe,pd.DataFrame(bd.iloc[i]["Business_Info"],index=[i])])

In [154]:
# we haven't considered category currently
t12 = pd.concat([bd,bd_info_dataframe],axis=1).drop(["Business_Info"],axis=1)
t12.to_csv("restaurant_data2",encoding="utf8",index=False)

In [2]:
t12 = pd.read_csv("restaurant_data2")
t13 = pd.read_csv("restaurant_data2")

In [3]:
droplist = []
for i in range(len(t12)):
    if(t12.iloc[i]["Star_Rating"]<1 or t12.iloc[i]["Star_Rating"]>5):
        droplist.append(i)

In [4]:
t12 = t12.drop(droplist).reset_index(drop=True)
t13 = t13.drop(droplist).reset_index(drop=True)

In [16]:
t12.corr()["Star_Rating"].sort_values(ascending=False)

Star_Rating                 1.000000
SunCT_Closed                0.216550
SunOT_Closed                0.216550
Liked by Vegetarians        0.211048
MonOT_Closed                0.203325
MonCT_Closed                0.203325
Wheelchair Accessible       0.201063
Gender Neutral Restrooms    0.172550
Liked by Vegans             0.171751
Number_Of_Reviewers         0.136108
ThuCT_8:00pm                0.134890
Waiter Service              0.133295
FriCT_8:00pm                0.131175
FriCT_9:00pm                0.125288
WedCT_8:00pm                0.124539
TueCT_8:00pm                0.122334
ThuCT_9:00pm                0.120295
WedCT_9:00pm                0.119901
WedCT_7:00pm                0.119499
TueCT_7:00pm                0.118155
ThuCT_7:00pm                0.117748
SatCT_8:00pm                0.116277
SatCT_9:00pm                0.114122
TueCT_9:00pm                0.109089
FriCT_7:00pm                0.104495
MonCT_7:00pm                0.099917
MonCT_8:00pm                0.098703
SatOT_Closed                0.098133
SatCT_Closed                0.098133
Accepts Google Pay          0.096680
                              ...
SunOT_11:00am              -0.130482
SatCT_2:00am               -0.131550
SunCT_12:00am              -0.135966
FriCT_1:00am               -0.142249
SatCT_1:00am               -0.142942
Drive-Thru                 -0.146672
SatBH                      -0.149823
ThuOT_AllDay               -0.164038
TueOT_AllDay               -0.164038
MonCT_AllDay               -0.164038
ThuCT_AllDay               -0.164038
SunOT_AllDay               -0.164038
WedOT_AllDay               -0.164038
SunCT_AllDay               -0.164038
MonOT_AllDay               -0.164038
TueCT_AllDay               -0.164038
WedCT_AllDay               -0.164038
ThuBH                      -0.167771
WedBH                      -0.170220
SatCT_AllDay               -0.174780
FriCT_AllDay               -0.174780
FriOT_AllDay               -0.174780
SatOT_AllDay               -0.174780
TueBH                      -0.186257
FriBH                      -0.191799
SunBH                      -0.193334
MonBH                      -0.244216
SunOT_11:30pm                    NaN
Ages Allowed                     NaN
Cannabis Products                NaN
Name: Star_Rating, Length: 610, dtype: float64

In [6]:
t12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6094 entries, 0 to 6093
Columns: 610 entries, Star_Rating to Wi-Fi
dtypes: float64(10), int64(600)
memory usage: 28.4 MB

In [7]:
t12.head(3)

,Star_Rating,Number_Of_Reviewers,MonBH,TueBH,WedBH,ThuBH,FriBH,SatBH,SunBH,Longitude,...,Liked by Vegetarians,Offers Military Discount,Open to All,Outdoor Seating,Smoking,Take-out,Takes Reservations,Waiter Service,Wheelchair Accessible,Wi-Fi
0,4.173077,364,0.0,8.0,8.0,8.0,8.0,7.0,7.0,-77.165013,...,1,1,0,0,1,1,0,0,1,1
1,4.586387,191,12.0,13.0,13.0,13.0,14.5,14.5,13.5,-77.197743,...,1,0,0,1,0,1,0,0,1,1
2,4.322160,1611,13.5,13.5,13.5,13.5,13.5,13.5,13.5,-77.205698,...,1,0,0,1,0,1,0,0,0,0

In [89]:
#training and predicting, result is either overfit or underfit, need to come up with some idea to handle it
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit
#train_set, test_set = train_test_split(bd_with_info,train_size=0.8,random_state=10)
t12["R_cat"] = round(t12["Star_Rating"]*2)/2
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2)
for train_index, test_index in split.split(t12, t12["R_cat"]):
    train_set = t12.loc[train_index]
    test_set = t12.loc[test_index]
train_x = train_set.drop(["Star_Rating","R_cat"],axis=1)
train_y = train_set["Star_Rating"]
sts = StandardScaler()
train_x = sts.fit_transform(train_x)
test_x = test_set.drop(["Star_Rating","R_cat"],axis=1)
test_x = sts.transform(test_x)
test_y = test_set["Star_Rating"]

In [91]:
#lb = LabelEncoder()
#train_y = lb.fit_transform(train_y)
#test_y_ = lb.transform(test_y)
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
rfg = RandomForestRegressor(max_features=200,n_estimators=1000,n_jobs=-1)
rfg.fit(train_x,train_y)
pred = rfg.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.4026273497317884

In [38]:
from sklearn.ensemble import AdaBoostRegressor
adar = AdaBoostRegressor(
     RandomForestRegressor(), n_estimators=100,
     learning_rate=1
)
adar.fit(train_x,train_y)
pred = adar.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.3985206646298127

In [22]:
from sklearn.svm import SVR
svr = SVR(kernel='rbf')
svr.fit(train_x,train_y)
pred = svr.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.4585434608236178

In [24]:
from sklearn.tree import DecisionTreeRegressor
dct = DecisionTreeRegressor()
dct.fit(train_x,train_y)
pred = dct.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.5696984032858511

In [25]:
from sklearn.ensemble import GradientBoostingRegressor
gra = GradientBoostingRegressor(n_estimators=200)
gra.fit(train_x,train_y)
pred = gra.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.4632887467926697

In [26]:
from sklearn.ensemble import BaggingRegressor
bag = BaggingRegressor()
bag.fit(train_x,train_y)
pred = bag.predict(test_x)
print(np.sqrt(mean_squared_error(test_y,pred)))

0.44133067517174857

In [27]:
from sklearn.model_selection import GridSearchCV
clr = RandomForestRegressor(n_jobs=-1)
param_grid = [
 {'n_estimators': [500,1000], 'max_features': [100, 200, 400]},
 ]
grid_search = GridSearchCV(clr, param_grid, cv=5,
 scoring='neg_mean_squared_error')
grid_search.fit(train_x, train_y)
cvres = grid_search.cv_results_
for mean_score, params in zip(cvres["mean_test_score"], cvres["params"]):
    print(np.sqrt(-mean_score), params)

0.4231377151786539 {'max_features': 100, 'n_estimators': 500}
0.4231917151480009 {'max_features': 100, 'n_estimators': 1000}
0.42347031637704363 {'max_features': 200, 'n_estimators': 500}
0.42350637352535886 {'max_features': 200, 'n_estimators': 1000}
0.42549323412350615 {'max_features': 400, 'n_estimators': 500}
0.42443775584966537 {'max_features': 400, 'n_estimators': 1000}

In [16]:
#train_set, test_set = train_test_split(bd_with_info,train_size=0.8,random_state=10)
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import StratifiedShuffleSplit
from sklearn.preprocessing import LabelEncoder
t13["Rating_cat"] = round(t12["Star_Rating"]*2)/2
lb = LabelEncoder()
lb.fit(t13["Rating_cat"])
split = StratifiedShuffleSplit(n_splits=1, test_size=0.2)
for train_index, test_index in split.split(t13, t13["Rating_cat"]):
    train_set = t13.loc[train_index]
    test_set = t13.loc[test_index]
train_x = train_set.drop(["Star_Rating","Rating_cat"],axis=1)
train_y = train_set["Rating_cat"]
sts = StandardScaler()
train_x = sts.fit_transform(train_x)
test_x = test_set.drop(["Star_Rating","Rating_cat"],axis=1)
test_x = sts.transform(test_x)
test_y = test_set["Rating_cat"]
train_y = lb.transform(train_y)
test_y = lb.transform(test_y)

In [17]:
def mean_error(test, pred):
    sum = 0
    for t, p in zip(test, pred):
        sum = sum + abs(t-p)
    return sum/len(test)

In [26]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score
svc = SVC()
svc.fit(train_x,train_y)
pred = svc.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.42257001647446457
0.7899505766062603

In [27]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier(n_estimators=3,max_features=609,n_jobs=-1)
rfc.fit(train_x,train_y)
pred = rfc.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.47611202635914335
0.8360790774299836

In [28]:
from sklearn.ensemble import AdaBoostClassifier
adac = AdaBoostClassifier(
     base_estimator=RandomForestClassifier(), n_estimators=100, learning_rate=1, algorithm='SAMME'
)
adac.fit(train_x,train_y)
pred = adac.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.5823723228995058
0.556836902800659

In [29]:
from sklearn.tree import DecisionTreeClassifier
dct = DecisionTreeClassifier(max_depth=20)
dct.fit(train_x,train_y)
pred = dct.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.5313014827018122
0.71334431630972

In [30]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(max_iter=1000)
mlp.fit(train_x,train_y)
pred = mlp.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.5485996705107083
0.6367380560131796

In [31]:
from sklearn.ensemble import GradientBoostingClassifier
gra = GradientBoostingClassifier()
gra.fit(train_x,train_y)
pred = gra.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.471993410214168
0.7092257001647446

In [32]:
from sklearn.ensemble import BaggingClassifier
bag = BaggingClassifier()
bag.fit(train_x,train_y)
pred = bag.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.5774299835255354
0.6037891268533773

In [33]:
from sklearn.ensemble import VotingClassifier
clf1 = RandomForestClassifier()
clf2 = DecisionTreeClassifier()
clf3 = AdaBoostClassifier()
eclf = VotingClassifier(estimators=[('rf',clf1),('dt',clf2),('ada',clf3)],voting='hard')
eclf.fit(train_x,train_y)
pred = eclf.predict(test_x)
print("test_accuracy:")
print(accuracy_score(test_y,pred))
print(mean_error(test_y,pred))

test_accuracy:
0.5510708401976936
0.6515650741350906

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda2_64\envs\py37\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff: